footer {
    background: #111;
    color: #ffffffbb;
}
.footerMainWrapper {
    padding: 10px 30px;
}
.footerMainWrapper span {
    color: #ffa01a;
}
.footerMainWrapper a {
    color: inherit;
}
.footerInfo,
.footerAbout,
.footerSocial,
.footerTop,
.footerLegal,
.footerContact {
    gap: 5px;
    padding: 10px 0;
    border-bottom: solid 0.5px #ffffff55;
}
.footerTop {
    align-items: center;
    gap: 10px;
}
.footerTop > div {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.footerTop > div > p {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a05d00;
    border-radius: 50%;
}
.footerMiddle {
    display: flex;
    flex-direction: column;
}
.footerInfo i {
    margin-right: 10px;
}
.footerSocial {
    gap: 10px;
    align-items: center;
}
.footerSocial > div {
    display: flex;
    gap: 20px;
}
.footerSocial > div > i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ffffff33;
    border-radius: 50%;
    background-image: radial-gradient(circle at 0 0, #ffffff, transparent 30%);
}
.footerContact {
    gap: 10px;
}
.footerContact > div {
    gap: 10px;
}
.footerContact > div > div {
    display: flex;
    gap: 10px;
}
.footerContact input, .footerContact textarea, .footerContact button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}
.footerContact button {
    background: #a05d00;
    color: white;
}
.footerLegal > p {
    font-size: 14px;
    text-align: center;
}

.footerDeveloper p {
    font-size: 10px;
    text-align: center;
    color: #ffffff99;
    padding: 10px 0 5px 0;
}