header {
    z-index: 999;
    position: fixed;
    width: 100%;
    color: var(--textDark);
}
header > div{
    background-color: var(--bgDark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navToggleButton {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20px;
    height: 15px;
    cursor: pointer;
}
.navToggleButton > div {
    width: 100%;
    height: 3px;
    background: var(--textDark);
    transition: 0.2s;
}
header > nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}
.navOpened {
    max-height: 700px;
}
header > nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 100%;
    background: radial-gradient(circle at 60% 80%, rgba(181, 144, 81, 0.304), transparent 50%),
                radial-gradient(circle at -20% 80%, rgba(0, 170, 255, 0.544), transparent 50%),
                radial-gradient(circle at 40% 10%, rgba(3, 66, 255, 0.362), transparent 70%);
    background-color: var(--bgLight);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: var(--thickDarkBorder);
}
header > nav > ul > li {
    width: 100%;
    text-align: center;
    border-top: var(--thickDarkBorder);
    font-size: 20px;
}
header > nav > ul > li > a {
    color: var(--textLight);
    font-family: var(--formalFont);
    display: block;
    width: 100%;
    padding: 20px;
}
header > nav > ul > li:nth-child(1) {
    border-top: none;
}