.pricePageWrapper {
    padding-top: 50px;
    background-image: url('https://www.freeiconspng.com/uploads/wave-lines-vector-png-photo-15.png');
    background-attachment: fixed;
    background-size: 100% 50%;
    background-color: #eee;
}
.pricePageWrapper > div {
    background-color: #dddddd99;
    padding: 30px;
}
.pricePageWrapper h1 {
    font-family: var(--formalFont);
}
.pricePageWrapper > div > h1 {
    margin: 15px 0 10px 0;
    padding-top: 10px;
    border-top: solid 1px #00000033;
}
.pricePageDetailsWrapper {
    gap: 30px;
}
.pricePageDetailsWrapper > p {
    font-family: var(--formalFont);
}
.pricePageDetailsWrapper span {
    font-weight: bold;
    color: rgb(45, 134, 202);
}

.pricePageList {
    gap: 30px;
    margin-bottom: 30px;
}
.pricePageCard {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: solid 1px #fff;
    backdrop-filter: blur(2px);
    box-shadow: 0 1px 5px #00000055;
    padding: 20px;
}
.pricePageCard:nth-of-type(odd) {
    border-right: solid 10px rgb(45, 134, 202);
}
.pricePageCard:nth-of-type(even) {
    border-right: solid 10px rgb(180, 124, 35);
}
.pricePageCard > div:nth-child(1) {
    gap: 5px;
}
.pricePageCard > div:nth-child(1) > p {
    color: rgb(45, 134, 202);
    font-family: var(--formalFont);
}
.pricePageCard h1 {
    white-space: nowrap;
}