.section1 {
    padding-top: 50px;
    height: 700px;
    margin-bottom: 20px;
}
.Sec1ImageWrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url('../../public/images/mohanad.jpg');
    background-size: cover;
    background-position: top;
}
.sec1DetailsWrapper {
    z-index: 100;
    position: absolute;
    display: flex;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    gap: 20px;
}
.sec1DetailsWrapper > h1 {
    background: #000000ae;
    color: #0af;
    padding: 10px;
    backdrop-filter: blur(3px);
}
.sec1DetailsWrapper > h1 > span {
    color: var(--textDark);
    text-shadow: 0 0 10px #000000;
}
.sec1DetailsWrapper > p {
    background: #eeeeeeb1;
    color: var(--textBright);
    font-family: var(--formalFont);
    padding: 10px;
    backdrop-filter: blur(3px);
}